$desktop-width: 1440px;
$mobile-width: 375px;
$primary-color:hsl(0, 100%, 74%);
$primary-color-2: hsl(154, 59%, 51%);
$accent-color: hsl(248, 32%, 49%);
$neutral-color-1: hsl(249, 10%, 26%);
$neutral-color-2: hsl(246, 25%, 77%);

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin ease {
    transition: all 0.2s ease-in;
}